@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Nunito', sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  /*background-color:;?*/
}

header {
  width: 100%;
  padding: 10px;
  padding-left: 30px;
  display: inline-flex;
  align-items: baseline;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

header #contact {
  font-size: 1.5em;
  margin-left: 10px;
  display: inline-flex;
}

header #contact span {
  margin-right: 5px;
  border: 2px solid #000;
  border-radius: 20px;
}

header #contact .image {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #000;
  margin-right: 10px;
}

header #contact .image img {
  position: relative;
  width: 100%;
  height: 100%;
  clip-path: circle(50%);
}

nav ul {
  list-style-type: none;
  display: inline-flex;
  flex-wrap: wrap;
  margin-left: 20px;
}

nav ul li {
  margin-top: 20px;
  margin-left: 5px;
  padding: 10px;
  border-bottom: 2px solid rgba(175, 175, 175, 0.707);
  transition: 200ms;
}

nav ul li:hover {
  border-bottom: 2px solid rgb(0, 0, 0);
  font-weight: bolder;
  transform: scale(1.05);
  cursor: pointer;
}

.trending {
  position: relative;
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 50vh;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  padding: 20px;
  background: #fff;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow-y: hidden;
  z-index: 1;
}

.swiper-slide .image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

}

.swiper-slide .image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: center;
  opacity: 0.5;
}

.blogContainer {
  position: relative;
  width: 100%;
  min-height: 20vh;
  display: block;
  padding: 0;
  margin: 0;
}

.blogContainer .block {
  position: relative;
  width: 100%;
  height: 25vh;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid grey;
  margin: 10px 0px;
}

.blogContainer .block .blog {
  position: relative;
  width: 70%;
  height: 100%;
  display: block;
  /*  background: blue;*/
  padding-left: 10px;

}

.blogContainer .blog h5 {
  padding-top: 5px;
  font-weight: 600;
}

.blogContainer .blog h5 a:hover {
  text-decoration: none;
  color: #000;
  font-weight: 700;
}

.blogContainer .blogImage {
  position: relative;
  width: 30%;
  height: 100%;
}

.blogContainer .blogImage img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 2px;
}

@media screen and (min-width: 650px) {
  .trending {
    position: relative;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 50vh;
  }

  .swiper-container {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    padding: 20px;
    background: #fff;
    /* Center slide text vertically */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;

  }

  .swiper-slide .image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  .swiper-slide .image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;

  }

  .blogContainer .block .blog {
    position: relative;
    width: 80%;
    height: 100%;
    display: block;
    /*  background: blue;*/
    padding-left: 10px;

  }

  .blogContainer .blogImage {
    position: relative;
    width: 20%;
    height: 100%;
  }

}