{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lakhi's Lab</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/0c1723de8c.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
  </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
  </script>
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>

<body>
  <header>
    <div id="Heading">
      <H1>Lakhi's Lab</H1>
    </div>
    <div id="contact">
      <div class="image"><a href="profile/"><img src="{{request.user.profile.profile_pic.url}}" alt=""></a></div>
    </div>
  </header>
  <nav>
    <ul>
      <li>Home</li>
      <li>Politics</li>
      <li>Sports</li>
      <li>Technology</li>
      <li>Humanities</li>
      <li>Books</li>
      <li>Literature</li>
    </ul>
  </nav>
  <div class="trending">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        {% for item in list|slice:"2:"  %}
        <div class="swiper-slide">
          <h2>{{item.title|title}} </h2>
          <h4>{{item.subtitle|truncatewords:10}} </h4>
          <p>{{item.description|truncatewords:50}}</p>
          <div class="image"><img src="{{item.headerImage.url}}"></div>
        </div>
        {% endfor %}
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
      <!-- Add Pagination -->
      <div class="swiper-pagination"></div>
    </div>

  </div>
  <hr>
  <h1></h1>
  <div class="blogContainer">
    {% for i in list reversed %}
    <div class="block">
      <div class="blog">
        <span>{{i.author}}</span>
        <h5><a href="{{i.id}}">{{i.title|title}}</a> </h5>
        <h6>{{i.subtitle|truncatewords:10}}</h6>
        <p>{{i.created|date:"M j"}}</p>
        <!-- <p>{{i.description|truncatewords:20}}</p> -->
      </div>
      <div class="blogImage">
        <img src="{{i.headerImage.url}}" alt="">
      </div>
    </div>
    {% endfor %}
  </div>

  <!-- Initialize Swiper -->
  <script>
    var swiper = new Swiper('.swiper-container', {
      cssMode: true,
      loop: true,
      autoplay: {
        delay: 2500,
        disableOnInteraction: false,
      },
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
      pagination: {
        el: '.swiper-pagination'
      },
      mousewheel: true,
      keyboard: true,
    });
  </script>
</body>

</html>